#principal{
    margin: 10px auto;
    width: 750px;
    text-align: center;
    overflow-y: auto;
}
img{
    width: 150px;
    height: 150px;
    float: right;
}
ul{
    float: left;
    margin-left: 200px;
    font-size: 30px;
    list-style: none;
}
button{
    margin-left: 10px;
}
