div#principal{
    overflow-y: auto;
    
   
}
div#primero{
    float: left;
    width: 55% ;
     background-color: aqua;
     border-top-right-radius: 10%;
     border-bottom-right-radius: 10%;
     overflow-y: auto;
}
div#segundo{
    float: left;
    width: 25% ;    
}
div#borde{
    overflow-y: auto;
    width: 50% ;
    margin-top: 10% ;
}