#menuprincipal{
     
    background-color: darkgreen; 
	margin:auto; 
    width: 300px;    
}

#ulprincipal{
    
    list-style-type: none;
    overflow-y: auto;
   
}
#submenu{
   
    list-style: none;
    padding:0px; 
	padding-top: 10px;
	color:white; 
	font-weight:bold;
}

.menu{
   
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    background-color: chartreuse;
    border: 1px solid greenyellow;
    font-size: 20px;
}
