.link{
    float:right;
    margin-left: 4px;
}
#uno{
 width:76.4%;
margin:5px auto;

}
#dos{
    padding: 15px;
    margin-bottom: 12px;
}
#tres{
    height: 100px;
}
#tresa{
    float: left;   
}
#tresb{
    float: left;   
   margin-top: 20px;
    margin-left: 20px;
    
    
}
#tresba{
  margin-right: 0px;
    font-size: 30px;
    float: right;
}
.tresbb{clear:both;
    font-size: 14.9px;
}
#tresc{
    float: left;
    margin-top: 30px ;
    margin-left: 20px;
}
#tresca{
    background: #87c606;
    padding: 10px 20px 10px 20px ;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight:600;
}
#tresd{
    float: left;
    margin-top: 30px ;
    margin-left: 20px;
}
#tresda{
    background: #888888;
    padding: 10px 20px 10px 20px ;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    font-weight:600;
}
#boton{
    height: 37.7px;
    background-color: #0282e5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#botona{
    border-color:#0282E5; 
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color:white;
    font-size: 12px;
    font-weight:600;
}
#botonb{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}
#botonc{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}
#botond{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}
#botone{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}
#opciona{
   border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
    margin-left:95px;
}

#botonf{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}

#botong{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}

#botonh{
    border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
}
#opcionb{
     border-color:#0282E5;
    float: left;
    background: #0282E5;
    padding: 10px 20px 10px 20px ;
    color:white;
    font-size: 12px;
    font-weight:600;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#centro{
    background: #0282E5 url(AESRD.PNG) no-repeat bottom right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    margin-top: 20px;
}

#contenido{
    padding: 60px;
    
}
#titulo{
    font-size: 40px;
    font-weight: 600;

}
#titulo p{
    margin: 20px
}
#join{
    font-size: 20px;
    margin-top: 50px;
}
.linea{
padding: 5px;
}
.linea p{
    margin: 0px;
}
#lineaa{
    height: 30px;
}
.linea1{
    padding: 5px;
}
#tresaca{
    background: #87c606;
    padding: 10px ;
    border-radius: 5px;
     border-color:#87c606;
    color:white;
    font-size: 20px;
    font-weight:600;
}