body{
    background-image: url(imagenes/011.jpg);
}
div#primero{
    margin: 0px auto;
    overflow-y: auto;
    background-color: greenyellow;
    width: 70%;
    border-radius: 70px;
    
}
h1{
   font-family:  "Courier New", Courier, monospace;
    text-align: center;
    
}
div#segundo{
    margin: 0px auto;
    width: 80%;
    overflow-x: auto;
    padding-left: 70px;
}
button{
    border-radius: 100%;
    width: 90px;
    height: 90px;
    font-size: 50px;
    border: 3px solid grey;
    background-color: green;
    opacity: 0.5;
    
}
#izq{
    float: left;
}

#imagenes{
    list-style: none;
    float: left;
}
img{
   
    width: 400px;
    height: 400px;
    padding-right: 35px;
}
#derech{
    float: left;
}