body{
    background: url(img/fondo.jpg);
}
#body{
    margin: 0px auto;
    width: 90%;
    overflow: auto;
    border: none;
}

#acordeon {
    list-style: none;
    margin: 10px;
    padding: 0;
    overflow-y: auto;
    background-color: #3B3F40;
    border: 2px dashed grey;
    border-radius: 10px;
}
#dos{
    margin-top: 30px;
    float: left;
    background-color: white;
   }
#dos img {
    width: 100px;
    height: 100px;
    margin: 8px;
}
table{
    
    border-radius: 10px;
    background-color: white;
}
#uno table{
    padding-top: 30px;
}
#tres table{
    padding: 30px;
    overflow: auto;
}
#tres table td{
    padding-right: 40px;
    padding-left: 20px;
    border: 2px solid;
}
#tres table p{
    margin-bottom: 20px;
    
        
}
#tres{
    background-color: white;
}
#uno td{
    width: 50%;
}
#img2{
    width: 50px;
    float: left;
    margin-left: 18px;
    margin-right: 8px;
    height: 50px;
    margin-top: 30px;
}

img{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}
div{
    margin: 10px;
    border: 2px dashed grey;
    border-radius: 10px;
}
#acordeon li {
    float: left;
    display: block;
    height: 490px;
    width: 50px;
    padding: 15px 0;
    overflow: hidden;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5em;
    border: 2px dashed grey;
    border-radius: 10px;
}
#blanco{
    text-align: center;
    margin: 10px auto;
    width: 90%;
    overflow-y: auto;
    background-color: #f2f2f2;

    
}
#texto{
    vertical-align: baseline;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    float: left;
    clear: left;
    display: inline;
    border-radius: 5px;
    margin-left: 13px;
    padding-bottom: 205px;
}

#features{
    background-color: #BD5151;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

#design{
    background-color: #C38E4A;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#app_store{
    background-color: #95BA5D;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#gallery{
    background-color: #5AAAB5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#tech_spec{
    background-color: #B35891;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

strong {
    padding-top: 290px;
    
}


#web{
    width: 490px;
    height: 410px;
    margin: 10px;
}




