#primero{
    width: 800px;
    margin: 10px auto;
    overflow-y: auto;
}
#encabezado{
    float: right;
}
strong{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    background-color: #40b074;
}

#general{
    clear: both;
}
#boton1{
    border-right: 2px solid;
    float: left;
    clear: both;
    margin-bottom: 15px;
    padding-right: 30px;
}
p{
    margin-top:10px;
}
#boton1 button{
    width: 160px;
}
#color1,#color2,#color3{
    
    width: 400px;
    height: 100px;
    float: left;
    margin-left: 40px;
}
#color1{
   background-color: red; 
}
#color2{
    background-color: blue;
}
#color3{
    background-color: green;
}