h1#titulo {color:#008484}
strong {color:red}
span.destacado {color:#FFD64A}
h2#subtitulo {color: blue}
a:link     {color:red}
em{color: blue}
span.especial{color: purple}
caption{color: blue}
th.especial{color:#FFD64A}
th{color:red}
td{color:#008400}
td em{color:#008400}
td strong {color:#FFD64A}
div#adicional{color:#848400} 
span#especial{color: #FF00FF}
div a:link {color:#008400}
table { border: 1px solid black;border-collapse: collapse;
  border: 1px solid #000;}
th, td {
  border: 1px solid #000;
}