div {
  border: 1px dashed black; margin: -1px
}

#container {
  margin: 0px auto;
  width: 850px;
  overflow-y: auto;
}

#cabecera {
  background-color: yellow;
  height: 150px;
}

#c1 {
  background-color: #a8d6cc;
  height: 140px;
  width: 250px;
  float: left;
}

#c1titulo   {
  float:right;
  margin-top: 30px;
  width:220px;
}

#c1titulo h1 {
  margin:0px;
  background-color: #e880f3;
  border: 1px dashed black;
  text-align: center;
}

#c1titulo p {
  background-color: #e9a091;
  text-align: center;
  margin:0px;
}

#c2 {
  background-color: #b6ff2c;
  width: 170px;
  height: 100px;
  margin-left: 50px;
  float: left;
  position: relative;
}

#c2contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0px;
}
#c2contenido h5, #c2contenido h4 {
    margin: 0px;
}

#c3 {
  background-color: #7efccc;
  height: 120px;
  float: right;
  width: 275px;
}

#c3contenido {
  width: 230px;
  margin-top: 30px;
  border: 0px;

}
#c3contenido p{font-size: 0.6em;}
#c3 h4, #c3 p {
  margin:0px;
}

#contenido {
    
    background-color:#3fc7b8;
}
#primero{
    margin-left: 5px;
    margin-right: 5px;

}
#segundo {
   background-color: #7EFCBF;
  height: 48px;
   
}

#segundo div {
    
    float:left;
    text-align: center;
    margin-top: 8px;
    padding: 10px;
}
#ho {background-color: #e1d879;
  
    margin-left: 17px;
    
    margin-top: 8px;
}

#a {
  background-color: #dd8474;
    
}
#p {
  background-color: #e0b4cb;
}
#s {
  background-color: #6daef2; 
}
#n {
  background-color: #76fcb3; 
}
#c {
  background-color: #a7fdf0; 
}
#no {
  background-color: #55e4f2; 
}

#tercero{background-color: #9df9f8; height: 20px;
} 
#lorem {height: 15px;
    text-align: center;
    font-size: 13px;
    width: 116px;
    float: left;
background-color: #a7fb5b;
   
}
#dolor{height: 15px;
    width: 116px;
    text-align: center;
    font-size: 13px;
    float: left;
    background-color: yellow;
    
}
#comse{height: 15px;
    width: 170px;
    font-size: 13px;
    float: left;
    text-align: center;
    background-color: #3ff943;
   
}
#crash{height: 15px;
    font-size: 13px;
    width: 116px;
    float: left;text-align: center;
    background-color: #e7fcad;
    
}
#marco{background-color: #63a8f6;margin: 5px;height: 480px;}
#marcoizq{ float:left;width: 395px;
    margin-left: 10px;margin-top:10px;
}
#marcoizq p {margin: 7px;}
#marcoizq h3{    
  margin-top: 10px;
    margin-bottom: 1px;
  }

#izqa{
    padding: 1px;
    
    background-color: #f38d9b;
}
#izqb{
        font-size: 13px;
    background-color: #cee187;
    
}
#izqc{
        font-size: 13px;
   background-color: #cee187;
}
#izqd{
        font-size: 13px;
  background-color: #f6e2af;  
}
img{float: left;
    margin-top: 5px;
    margin-left: 5px;
}
#marcodos{float:left;width: 395px;
    margin-left: 30px;margin-top:10px;height: 445px;border: 0px;}
#dera{background-color: #f2707a; padding: 1px;}
#dera p {margin: 7px;}


#derb{ float: left;
    height: 400px;
    width: 130px;
    background-color: #8fc3fd;
    
}
#derbser{
   
   
    border: 0px;
}
#derbtexto{
    font-size: 13px;
    border: 0px;
}
#derbtexto p {margin-bottom: 32px;}
#derc{float: left;
    height: 360px;
    width: 130px;
    background-color: #65eafd;
    
}
#dercser{
   
   
    border: 0px;
}
#derctexto{
    font-size: 13px;
    border: 0px;
}
#derctexto p {margin-bottom: -1px;}
#derd{ float: left;
    height: 360px;
    width: 130px;
    background-color:#dbc685;
    
}
#derdser{
   
   
    border: 0px;
}
#derdtexto{
    font-size: 13px;
    border: 0px;
}
#derdtexto p {margin-bottom: 20px;}
#pie {
  background-color: yellow;0
    
  padding: 10px;
}

#pie p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.7em;
}
